:root {
    --primary-color: #252a63;
    --secondary-color: #256361;
    --hover-color: #3d7f7d;
    --background-color: #fefdf4;
    --text-color: #333;
}

.title {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-create {
    background-color: var(--primary-color);
    color: #fff;
}

.edit-btn {
    background-color: var(--secondary-color);
    color: #fff;
    border-color: var(--secondary-color);
}

.edit-btn:hover {
    background-color: var(--hover-color);
    color: #fff;
}

.card-U {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fefdf4;
    border-radius: 15px;
}